<div data-control="toolbar">
    <a
        href="#"
        onclick="toggleTree();"
        class="btn btn-info oc-icon-list">
    </a>

    <a
        href="<?= Backend::url('kozmo/common/splash/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Splash
    </a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Splashes?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Delete selected
    </button>
</div>
<script type="text/javascript">
    function toggleTree() {
        $('.row .col-sm-3').toggle();
        $('.row .list-with-sidebar').toggleClass('col-sm-9').toggleClass('col-sm-12');
    };
    $(function(){
        $('.row .col-sm-3 div').show();
        toggleTree();
    });
</script>
