title = "Feedback"
url = "/feedback/:success?"
layout = "feedback"

[session]
security = "user"
redirect = "/"

[feedback]
==
<?php
public function onStart()
{
    if ($this->param('success') == 'success')
    {
        $this['showSuccess'] = true;
    }
}
?>
==
<div class="main-background">
    <div class="container-fluid">
        {% partial "scanner/logo" %}
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-3"></div>
            <div class="col-md-8 col-sm-6 col-xs-6">
                {% if showSuccess %}
                    <h3 class="scanner-not-found-message">Номер зарегистрирован. Спасибо!</h3>
                    {% put scripts %}
                    <script>
                        setTimeout(function() {
                            location.replace('/feedback');
                        }, 3000)
                    </script>
                    {% endput %}
                {% else %}
                <div>
                    <h3 class="scanner-not-found-message">Добро пожаловать в Kozmo!</h3>
                    <form id="feedback-form" style="text-align: center;" data-request="onSubmit">
                        <div class="form-group">
                            <input data-toggle="phone-mask" type="tel" class="form-control" style="text-align: center;" name="phone" placeholder="+7 (XXX) XXX-XX-XX" required>
                        </div>
                        <button id="feedback-form-submit" type="submit" class="btn btn-default">Сохранить</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3"></div>
        </div>
    </div>
</div>
