title = "Title"
url = "/"
layout = "default"

[account]
redirect = "qrscanner"
==

<div class="main-background">
	<div class="container">
		{% partial "scanner/logo" %}
		<div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
			<div class="signin">
				{% partial 'account::signin' %}
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
	</div>
</div>
