title = "Scanner"
url = "/qrscanner/:id/:room?"
layout = "scanner"

[session]
security = "user"
redirect = "/"

[scanner]
scanner_id = "{{:id}}"
room_id = "{{:room}}"
==
==
<div class="main-background">
    {% if scanner.type != 'info' %}
    <div class="container">
        {% partial "scanner/logo" %}
        {% if scanner|length > 0 %}
        <div id="info" class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            {% set currentState = "default" %}
            {% set viewUrl = "scanner/"~scanner.type %}
            {% partial viewUrl currentState=currentState %}
        </div>
        <div id="camera" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            {% partial "scanner/camera" %}
        </div>
        {% else %}
        <h3 class="scanner-not-found-message">Сканер с таким ID не найден<br/> Пожалуйста, обратитесь к администратору</h3>
        {% endif %}
        {% partial "scanner/loader" %}
    </div>
    {% else %}
    <div class="container-fluid" style="padding-top:10px;">
        {% if scanner|length > 0 %}
        <div id="info" class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="overflow-y: scroll; height: 97vh;">
            {% set currentState = "default" %}
            {% set viewUrl = "scanner/"~scanner.type %}
            {% partial viewUrl currentState=currentState %}
        </div>
        <div id="camera" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            {% partial "scanner/camera" %}
        </div>
        {% else %}
        <h3 class="scanner-not-found-message">Сканер с таким ID не найден<br/> Пожалуйста, обратитесь к администратору</h3>
        {% endif %}
        {% partial "scanner/loader" %}
    </div>
    {% endif %}
</div>

<script>
    var scannerType = "{{scanner.type}}";
</script>
