title = "Feedback"
url = "/random"
layout = "feedback"

[session]
security = "user"
redirect = "/"

[feedback]
==
==
<div class="main-background">
    <div class="container-fluid">
        {% partial "scanner/logo" %}
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-3"></div>
            <div class="col-md-8 col-sm-6 col-xs-6">
                <div id="random">{% partial 'feedback/random' %}</div>
                <form data-request="onRandom" data-request-update="'feedback/random': '#random'" style="text-align: center;">
                    <button type="submit" class="btn btn-default">Запустить Рандомайрез</button>
                </form>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-3"></div>
        </div>
    </div>
</div>
