title = "Signup"
url = "/signup/:success?"
layout = "feedback"

[session]
security = "user"
redirect = "/"

[userForm]
==
<?php
public function onStart()
{
    if ($this->param('success') == 'success')
    {
        $this['showSuccess'] = true;
    }
}
?>
==
<div class="main-background">
    <div class="container-fluid">
        {% partial "scanner/logo" %}
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-4"></div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                {% if showSuccess %}
                    <h3 class="scanner-not-found-message">Пользователь зарегистрирован. Спасибо!</h3>
                    {% put scripts %}
                    <script>
                        setTimeout(function() {
                            location.replace('/signup');
                        }, 3000)
                    </script>
                    {% endput %}
                {% else %}
                <div>
                    <h3 class="scanner-not-found-message">Введите персональные данные пользователя</h3>
                    <form id="signup-form" style="text-align: center;" data-request="onSignup">
                        <div class="form-group">
                            <input data-toggle="phone-mask" type="tel" class="form-control" name="phone" placeholder="+7 (XXX) XXX-XX-XX *" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Введите имя *" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="surname" placeholder="Введите фамилию *" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="product_id" data-toggle="select-product" data-target="#product_type" required>
                              <option disabled selected>Выберите продукт</option>
                              {% for product in products %}
                              <option value="{{product.id}}" data-type="{{product.type}}">{{product.title}}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="product_type" type="hidden" name="product_type"/>
                            <input type="hidden" name="agent" value="admin"/>
                        </div>
                        <div id="errors"></div>
                        <button id="signup-form-submit" type="submit" class="btn btn-default">Сохранить</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4"></div>
        </div>
    </div>
</div>
