<div data-control="toolbar" data-disposable="">
    <a data-control="popup" data-size="huge" data-handler="onRelationButtonCreate" href="javascript:;" class="btn btn-sm btn-secondary oc-icon-file">Create Checkins</a>
    <button class="btn btn-sm btn-secondary oc-icon-trash-o control-disabled" onclick="$(this).data('request-data', {checked: $('#User-update-RelationController-checkins-view .control-list').listWidget('getChecked')})" disabled="" data-request="onRelationButtonDelete" data-request-confirm="Are you sure?" data-trigger-action="enable" data-trigger="#User-update-RelationController-checkins-view .control-list input[type=checkbox]" data-trigger-condition="checked" data-stripe-load-indicator="">Delete</button>
    <a data-control="popup" data-size="huge" data-handler="onRelationButtonLink" href="javascript:;" class="btn btn-sm btn-secondary oc-icon-link">Link Checkins</a>
    <a href="javascript:;" class="btn btn-sm btn-secondary oc-icon-unlink" data-request="onRelationButtonUnlink" data-request-confirm="Are you sure?" data-stripe-load-indicator="">Unlink</a>
</div>
