<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('kozmo/sport/room') ?>">Room</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
  <div class="control-tabs content-tabs" data-control="tab">
      <ul class="nav nav-tabs">
          <li class="active"><a href="#entityTab">Room</a></li>
          <li><a href="#featuresTab">Trainers</a></li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active">
              <div class="tab-pane-wrapper">
                <?= Form::open(['class' => 'layout']) ?>

                    <div class="layout-row">
                        <?= $this->formRender() ?>
                    </div>

                    <div class="form-buttons">
                        <div class="loading-indicator-container">
                            <button
                                type="submit"
                                data-request="onSave"
                                data-request-data="redirect:0"
                                data-hotkey="ctrl+s, cmd+s"
                                data-load-indicator="Saving Room..."
                                class="btn btn-primary">
                                <u>S</u>ave
                            </button>
                            <button
                                type="button"
                                data-request="onSave"
                                data-request-data="close:1"
                                data-hotkey="ctrl+enter, cmd+enter"
                                data-load-indicator="Saving Room..."
                                class="btn btn-default">
                                Save and Close
                            </button>
                            <button
                                type="button"
                                class="oc-icon-trash-o btn-icon danger pull-right"
                                data-request="onDelete"
                                data-load-indicator="Deleting Room..."
                                data-request-confirm="Delete this room?">
                            </button>
                            <span class="btn-text">
                                or <a href="<?= Backend::url('kozmo/sport/room') ?>">Cancel</a>
                            </span>
                        </div>
                    </div>

                <?= Form::close() ?>
              </div>
          </div>
          <div class="tab-pane">
              <div class="tab-pane-wrapper">
                  <?= $this->relationRender('trainers') ?>
              </div>
          </div>
      </div>
  </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('kozmo/sport/room') ?>" class="btn btn-default">Return to room list</a></p>

<?php endif ?>

<style>
    .tab-pane-wrapper {
        padding: 20px 20px 0 20px;
        background: #fff;
        border: 1px solid #ddd;
        border-top: none;
    }
</style>
