<div class="camera">
    <div class="camera-preview">
        <video id="scanner-preview"></video>
    </div>
    <div id="camera-loader">
        <div class="loader"></div>
        <div class="background-loader-modal"></div>
    </div>
</div>
{#
<input type="hidden" id="scanner_id" value="{{ scanner.id }}" />
<input type="hidden" id="url" value="{{ url }}" />
<input type="hidden" id="redirect_timeout" value="{{ redirect_timeout }}" />
#}
