{% if currentState == 'success' %}
<div class="sport-name">
    <div class="success-container centerer">
        <img src="{{ 'assets/images/success.png'|theme }}" width="39px" height="35px">
    </div>
    <div>
        {{currentUser.surname}}&nbsp;{{currentUser.name}}
    </div>
</div>
<div class="snapshot">
    <div>
        {{currentMessage}}
    </div>
</div>
<script>
$(function() {
    setTimeout(function() {
        $.request('onRefresh', {});
    }, 3000);
})
</script>
{% endif %}

{% if currentState == 'error' %}
<div class="sport-name">
    <div class="error-container centerer">
        <img src="{{ 'assets/images/error.png'|theme }}" width="38px" height="38px">
    </div>
    <div>
        Ошибка
    </div>
</div>
<div class="snapshot">
    <div>
        {% if currentError %}
            {{currentError|raw}}
        {% else %}
            Что-то пошле не так.<br>Просим извинения за неудобства.
        {% endif %}
    </div>
</div>
<div class="snapshot">
    <div>
        Пожалуйста, попробуйте повторить попытку или обратитесь<br/>к менеджеру KOZMO
    </div>
</div>
<script>
$(function() {
    setTimeout(function() {
        $.request('onRefresh', {});
    }, 3000);
})
</script>
{% endif %}

{% if currentState == 'default' %}
<div class="sport-name">
    <div class="success-container centerer">
        <div class="success-container-placeholder"></div>
    </div>
    <div>
        {{scanner.title|raw}}
    </div>
</div>

<div class="snapshot">
    <div>
        {% if scanner.summary %}
        {{scanner.summary|raw}}
        {% else %}
        Пожалуйста, поднесите<br>ваш QR код к камере
        {% endif %}
    </div>
</div>
{% endif %}
