{% if currentState == 'success' %}
<div data-id="checkin" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="panel panel-primary panel-checkin">
        <div class="panel-heading">
            <h3 class="panel-title">{{scanner.name|capitalize}} <span class="label label-info">INFO</span></h3>
        </div>
        <div class="panel-body">
            <h4>{{currentUser.name}}&nbsp;{{currentUser.surname}} <span class="label label-success">{{currentUser.persist_code}}</span></h4>
            {% for subs in currentUser.subscriptions if subs.is_enabled %}
                <dl>
                    <dt>{{subs.product_title}}</dt>
                    <dd>
                        {% if subs.has_count %}
                            {{subs.visits_limit}} {{subs.visits_title}};
                        {% endif %}
                        {% if subs.has_period %}
                            {{subs.period_limit}} {{subs.period_title}};
                        {% endif %}
                        {% if subs.is_frozen %}
                            Заморозка на {{subs.freeze_limit}} дней;
                        {% endif %}
                    </dd>
                </dl>
            {% endfor %}

            <dl class="dl-horizontal">
                {% if currentUser.hasFresh %}
                <dt>Фреш на выходе</dt>
                <dd>{{currentUser.freshData.title}}</dd>
                {% else %}
                <dt>Фреш на выходе</dt>
                <dd>-</dd>
                {% endif %}

                {% if currentUser.hasShelf %}
                <dt>Полка хранения</dt>
                <dd>{% for shelf in currentUser.shelves %}{{shelf.title}}|{% endfor %}</dd>
                {% else %}
                <dt>Полка хранения</dt>
                <dd>-</dd>
                {% endif %}

                {% if currentUser.hasSportswear %}
                <dt>Спортивная форма</dt>
                <dd>Есть</dd>
                {% else %}
                <dt>Спортивная форма</dt>
                <dd>-</dd>
                {% endif %}
            </dl>
        </div>
    </div>
</div>
{% endif %}

{% if currentState == 'error' %}
<div data-id="checkin" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="panel panel-info panel-checkin">
        <div class="panel-heading">
            <h3 class="panel-title">{{scanner.name|capitalize}} <span class="label label-danger">ERROR</span></h3>
        </div>
        <div class="panel-body" style="text-align: center;">
            <strong>
            {% if currentError %} {{currentError|raw}} {% else %} Что-то пошле не так.<br>Просим извинения за неудобства. {% endif %}
            </strong>
        </div>
    </div>
</div>
{% endif %}

{% if currentState == 'default' %}
    {% for checkin in checkins %}
        {% set currentUser = checkin.user %}
        <div data-id="checkin" data-checkin-id="{{checkin.id}}" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {% if checkin.isStatusIn %}
            <div class="panel panel-success panel-checkin">
            {% else %}
            <div class="panel panel-danger panel-checkin">
            {% endif %}
                <div class="panel-heading">
                    <h3 class="panel-title">{{checkin.scanner.name|capitalize}} <span class="label label-info">{{checkin.status|upper}}</span></h3>
                </div>
                <div class="panel-body">
                    <h4>{{currentUser.name}}&nbsp;{{currentUser.surname}} <span class="label label-success">{{currentUser.persist_code}}</span></h4>
                    {% for subs in currentUser.subscriptions if subs.is_enabled %}
                        <dl>
                            <dt>{{subs.product_title}}</dt>
                            <dd>
                                {% if subs.has_count %}
                                    {{subs.visits_limit}} {{subs.visits_title}};
                                {% endif %}
                                {% if subs.has_period %}
                                    {{subs.period_limit}} {{subs.period_title}};
                                {% endif %}
                                {% if subs.is_frozen %}
                                    Заморозка на {{subs.freeze_limit}} дней;
                                {% endif %}
                            </dd>
                        </dl>
                    {% endfor %}

                    <dl class="dl-horizontal">
                        {% if currentUser.hasFresh %}
                        <dt>Сок на выходе</dt>
                        <dd>{{currentUser.freshData.title}}</dd>
                        {% else %}
                        <dt>Сок на выходе</dt>
                        <dd>-</dd>
                        {% endif %}

                        {% if currentUser.hasShelf %}
                        <dt>Полки хранения</dt>
                        <dd>{% for shelf in currentUser.shelves %}{{shelf.title}}|{% endfor %}</dd>
                        {% else %}
                        <dt>Полки хранения</dt>
                        <dd>-</dd>
                        {% endif %}

                        {% if currentUser.hasSportswear %}
                        <dt>Спортивная форма</dt>
                        <dd>Есть</dd>
                        {% else %}
                        <dt>Спортивная форма</dt>
                        <dd>-</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
