{% if currentState == 'success' %}
<div class="sport-name">
    <div class="success-container centerer">
        <img src="{{ 'assets/images/success.png'|theme }}" width="39px" height="35px">
    </div>
    <div>
        {{currentUser.surname}}&nbsp;{{currentUser.name}}
    </div>
</div>
<div class="snapshot">
    <div>
        {{currentMessage}}
    </div>
</div>
<script>
$(function() {
    setTimeout(function() {
        $.request('onRefresh', {});
    }, 3000);
})
</script>
{% endif %}

{% if currentState == 'error' %}
<div class="sport-name">
    <div class="error-container centerer">
        <img src="{{ 'assets/images/error.png'|theme }}" width="38px" height="38px">
    </div>
    <div>
        Ошибка
    </div>
</div>
<div class="snapshot">
    <div>
        {% if currentError %}
            {{currentError|raw}}
        {% else %}
            Что-то пошле не так.<br>Просим извинения за неудобства.
        {% endif %}
    </div>
</div>
<script>
$(function() {
    setTimeout(function() {
        $.request('onRefresh', {});
    }, 3000);
})
</script>
{% endif %}

{% if currentState == 'default' %}
{% if not currentRoom %}
{% set currentRoom = scanner.currentRoom %}
{% endif %}
<div class="yellow-circle-container centerer">
    <img src="{{ 'assets/images/yellow-circle.png'|theme }}" width="67px" height="67px">
    <h1 class="yellow-circle-number bold-white">{{currentRoom.checkins|length}}</h1>
</div>
<div id="room" data-room-id="{{currentRoom.id}}" class="masterclass-name">
    <div>
        {{currentRoom.started_at.format('d F H:i')}}<br/>
        {{currentRoom.title|raw}} - {{currentRoom.trainers.first.fullname}}
    </div>
</div>
<div class="snapshot">
    <div>
        {% if scanner.summary %}
        {{scanner.summary|raw}}
        {% else %}
        Пожалуйста, поднесите<br>ваш QR код к камере
        {% endif %}
    </div>
</div>
<div  class="end-class">
    <a id="close" href="#"><img src="{{ 'assets/images/power-off-button.png'|theme }}" weight="60px" height="60px"></a>
    <p class="end-class-title">Закрыть регистрацию</p>
</div>
{% endif %}
