body {
    padding: 0;
    margin: 0;
}

/* Reusable */
.centerer {
    text-align: center;
}

.bold-white {
    font-weight: bold;
    color: white;
}

/* Elements */
.main-background {
    background: url('../images/background-1920.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: 760px;
}

.logo-container {
    padding-top: 100px;
    margin-bottom: 60px;
}

.yellow-circle-container {
    position: relative;
    margin-bottom: 30px;
}

.yellow-circle-number {
    left: -2px;
    position:absolute;
    text-align:center;
    top: -17px;
    width: 100%
}

.success-container {
    position: relative;
    margin-bottom: 30px;
}

.error-container {
    position: relative;
    margin-bottom: 30px;
}

.masterclass-name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
}

#masterclass-success,
#masterclass-error,
#snapshot-masterclass-success,
#snapshot-masterclass-error,
#sport-success,
#sport-error,
#snapshot-sport-success,
#snapshot-sport-error {
    display: none;
}

#loader, #error, #camera-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#loader.active, #error.active, #camera-loader.active {
    display: flex;
}

#camera-loader {
    height: 409px;
}

.background-loader-modal {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 99;
}

#camera-loader .background-loader-modal {
    background: #000;
    opacity: 0.9;
}

.loader {
    position: absolute;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    z-index: 100;
    opacity: 1;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sport-name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    text-align: center;
}

.snapshot {
    margin-top: 30px;
    padding: 0;
    height: 121px;
    color: white;
    background: url('../images/snapshot-border.png') no-repeat center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-class {
    margin-top: 30px;
    text-align: center;
}

.end-class-title {
    margin-top: 10px;
    color: white;
    font-size: 19px;
}

.camera {
    position: relative;
    background: url('../images/camera-border.png') no-repeat center;
    width: 286px;
    height: 409px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.camera-preview {
    position: relative;
    /*background: gray;*/
    width: 249px;
    height: 372px;
    overflow: hidden;
    left: 19.5px;
    float: left;
}

.direction-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-bottom: 20px;
}

.direction-buttons {
    padding: 50px;
}

.inactive-button {
    background: grey;
    border: 1px solid grey;
    color: #b6b6b6;
}

#scanner-container {
    text-align: center;
}

#scanner-preview {
    height: 372px;
    margin: 0 0 0 -180px
}

#scanner-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

table tr td {
    padding: 5px 15px;
}

.scanner-not-found-message,
.error-message {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 32px;
    text-align: center;
    z-index: 1000;
}
.success-container-placeholder {
    display: block;
    width: 39px;
    height: 39px;
}

.panel-checkin .panel-body{
    min-height: 210px;
}

.panel-checkin .panel-body h4,
.panel-checkin .panel-body .h4{
    margin-top: 0;
}

.panel-checkin .panel-body .dl-horizontal{
    margin-bottom: 0;
}

.signin {
    background: rgba(0,0,0,0.5);
    padding: 40px;
}

.signin label {
    color: #fff;
}
