<div data-control="toolbar">
    <a
        href="<?= Backend::url('kozmo/sport/product/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Product
    </a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Products?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Delete selected
    </button>

    <a
        href="<?= Backend::url('kozmo/sport/feature') ?>"
        class="btn btn-info oc-icon-star-o">
        Features
    </a>
</div>
