<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('kozmo/sport/product') ?>">Product</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
    <div class="control-tabs content-tabs" data-control="tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#entityTab">Product</a></li>
            <li><a href="#featuresTab">Features</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="tab-pane-wrapper">
                  <?= Form::open(['class' => 'layout']) ?>
                  <div class="layout-row">
                      <?= $this->formRender() ?>
                  </div>

                  <div class="form-buttons">
                      <div class="loading-indicator-container">
                          <button
                              type="submit"
                              data-request="onSave"
                              data-request-data="redirect:0"
                              data-hotkey="ctrl+s, cmd+s"
                              data-load-indicator="Saving Product..."
                              class="btn btn-primary">
                              <u>S</u>ave
                          </button>
                          <button
                              type="button"
                              data-request="onSave"
                              data-request-data="close:1"
                              data-hotkey="ctrl+enter, cmd+enter"
                              data-load-indicator="Saving Product..."
                              class="btn btn-default">
                              Save and Close
                          </button>
                          <button
                              type="button"
                              class="oc-icon-trash-o btn-icon danger pull-right"
                              data-request="onDelete"
                              data-load-indicator="Deleting Product..."
                              data-request-confirm="Delete this product?">
                          </button>
                          <span class="btn-text">
                              or <a href="<?= Backend::url('kozmo/sport/product') ?>">Cancel</a>
                          </span>
                      </div>
                  </div>

                <?= Form::close() ?>
                </div>
            </div>
            <div class="tab-pane">
                <div class="tab-pane-wrapper">
                    <?= $this->relationRender('features') ?>
                </div>
            </div>
        </div>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('kozmo/sport/product') ?>" class="btn btn-default">Return to product list</a></p>

<?php endif ?>

<style>
    .tab-pane-wrapper {
        padding: 20px 20px 0 20px;
        background: #fff;
        border: 1px solid #ddd;
        border-top: none;
    }
</style>
